<!DOCTYPE html>
<html>
<head>
	<title></title>

	<script type="text/javascript" src="./scripts/angular.min.js"></script>
	<script type="text/javascript" src="./scripts/app.js"></script>

	<link rel="stylesheet" type="text/css" href="./stylesheets/buttons.css">
</head>
<body ng-app="genius" ng-controller="geniusController">
  <span id="blue" class="btn btn-blue" ng-click="btnBlue.actionClick()"></span>
  <span id="red" class="btn btn-red" ng-click="btnRed.actionClick()"></span>
  <span id="green" class="btn btn-green" ng-click="btnGreen.actionClick()"></span>
  <span id="yellow" class="btn btn-yellow" ng-click="btnYellow.actionClick()"></span>

	<br>
	<span>{{game.statusText}}</span>
	<br>
  <button type="button" ng-click="game.init()" ng-show="game.btnInitShow">Iniciar</button>
</body>
</html>